{% extends 'base.html' %}
{% block title %}
  About us
{% endblock %}

{% block body %}
  <div class="container-fluid" style="display: flex; background-color: #E9BCBC;">
    <div class="text-center" style="height: 500px; width: 500px; margin-left: 100px; margin-top: 15px;">
      <h1 class="text-center" style="font-family: 'Baskervville';">Our Story</h1>
      <p class="text-center" style="font-family: 'Baskervville';">At Sumit's Ice Creams, we believe in the power of good taste and honest ingredients. Our mission is to delight your senses with flavors ranging from exotic to innovative.</p>
      <p class="text-center" style="font-family: 'Baskervville';">Enjoy tropical Tender Coconut, luscious Alphonso Mango, nutty Dry Fruit Overload, and classic Roasted Almonds. Savor international delights like Mediterranean Sea Salted Caramel, Madagascar Chocolate, and French Vanilla. Relish Indian-inspired treats such as Gulab Jamun, Sheer Khurma, Til Gud, and Gajar Halwa.</p>
      <p class="text-center" style="font-family: 'Baskervville';">We use only the finest milk and 100% natural ingredients—no artificial flavors, coloring agents, or preservatives. 'Honestly' is our promise, ensuring each handcrafted scoop offers a unique taste experience found only at Sumit's Ice Creams.</p>
    </div>
    <div class="container">
      <img src="/static/transparent_ice_cream_2.png" alt="img" style="height: 575px; width: 600px; margin-left: 200px; margin-top: 25px;" />
    </div>
  </div>
  <div class="container-fluid" style="background-color: skyblue; height: 300px;">
    <h1 class="text-center" style="padding-top: 20px; font-family: 'Baskervville';">Our Process</h1>
    <p class="text-center" style="width: 500px; margin-left: 455px; padding-top: 10px; font-family: 'Baskervville';">Sumit's Ice Creams are meticulously crafted with hand-picked ingredients and whole fruits, ensuring freshness without preservatives. Despite our 45-day shelf life, we've mastered nationwide distribution, delivering artisanal quality to your doorstep. Taste the dedication in every scoop at Sumit's Ice Creams.</p>
  </div>

  <div style="display: flex; margin-top: 50px; margin-bottom: 50px;">
    <div style="height: 175px; width: 450px; background-color: #E9BCBC; margin-left: 250px; border-radius: 10px;">
      <h1 class="text-center" style="margin-top: 15px; font-family: 'Baskervville';">Mission</h1>
      <div class="text-center" style="width: 400px; padding-left: 30px; font-family: 'Baskervville';">We will infuse palates and hearts with the ingredients and intent, in all of our products as well as in our relationships</div>
    </div>
    <div style="height: 175px; width: 450px; background-color: skyblue; margin-left: 75px; border-radius: 10px;">
      <h1 class="text-center" style="margin-top: 15px; font-family: 'Baskervville';">Vision</h1>
      <div class="text-center" style="width: 400px; padding-left: 30px; font-family: 'Baskervville';">Handcrafted, heart-crafted, and mind-crafted, NIC Honestly Crafted Ice Creams will bring happiness, pleasure and smiles to consumers and partners alike</div>
    </div>
  </div>
{% endblock %}