{% extends 'base.html' %}
{% block title %}
  Service
{% endblock %}

{% block body %}
  <br />
  <div class="text-center" style="font-family: 'Baskervville';">
    <h1>Choco-chip Ice Cream's Menu</h1>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_1.webp" class="d-block w-100" alt="img_1" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Choco Chip Ice Cream features creamy vanilla base swirled with dark chocolate and loaded with chocolate chips for a delightful crunch.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_2.jpg" class="d-block w-100" alt="img_2" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">The blend of creamy vanilla and crunchy chocolate chips creates a perfect balance of flavors and textures.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_3.webp" class="d-block w-100" alt="img_3" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Slow-churning ensures every scoop is evenly mixed with chocolate chips for consistent enjoyment.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_4.jpg" class="d-block w-100" alt="img_4" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Choco Chip Ice Cream promises a delicious experience, combining tradition and innovation in every scoop.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_5.jpg" class="d-block w-100" alt="img_5" style="height: 250px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Enjoy it alone for a classic treat or enhance with toppings like whipped cream and sprinkles.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocochip_icecream_6.jpg" class="d-block w-100" alt="img_6" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Crafted from premium cocoa and fresh milk, it offers a smooth texture with a rich chocolatey taste.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
