{% extends 'base.html' %}
{% block title %}
  Chocolate Ice Cream's
{% endblock %}

{% block body %}
  <br />
  <div class="text-center" style="font-family: 'Baskervville';">
    <h1>Chocolate Ice Cream's Menu</h1>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_ice_1.jpg" class="d-block w-100" alt="img_1" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Chocolate Ice Cream is crafted using the finest cocoa beans sourced for their rich flavor and quality.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/small_ice_cream_6.jpg" class="d-block w-100" alt="img_2" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Fresh milk and cream are blended with the cocoa to create a creamy base that forms the essence of each scoop.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_ice_3.jpg" class="d-block w-100" alt="img_3" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">The ice cream is churned slowly to achieve a smooth and luxurious texture that melts delicately on the tongue.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_icecream_7.jpg" class="d-block w-100" alt="img_4" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Its deep, chocolatey aroma entices the senses, setting the stage for a delightful tasting experience.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_icecream_6.webp" class="d-block w-100" alt="img_5" style="height: 250px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">There are no artificial flavors or preservatives added, ensuring a pure and authentic chocolate taste.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_icecream_9.webp" class="d-block w-100" alt="img_6" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">It can be enjoyed on its own for a moment of indulgence or paired with toppings like nuts, caramel, or fresh fruits.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_icecream_8.jpg" class="d-block w-100" alt="img_7" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Ice Creams' dedication to quality ensures consistency in every batch, promising a memorable dessert experience.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/chocolate_icecream_10.jpg" class="d-block w-100" alt="img_8" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">From its creamy texture to its intense chocolate flavor, Sumit's Chocolate Ice Cream embodies pure indulgence in every scoop.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
