{% extends "base.html" %}
{% block title %}Service{% endblock title %}

{% block body %}
<br />
  <div class="text-center" style="font-family: 'Baskervville';">
    <h1>Dry-fruit Ice Cream's Menu</h1>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/dry_fruit_ice_cream_1.jpg" class="d-block w-100" alt="img_1" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Dry Fruit Ice Cream blends a variety of premium dry fruits, including almonds, cashews, and pistachios, for a crunchy and flavorful experience.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/small_ice_cream_5.jpg" class="d-block w-100" alt="img_2" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">The base is crafted from fresh milk and cream, ensuring a creamy texture that complements the nutty crunch of the dry fruits.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/dry_fruit_ice_cream_3.webp" class="d-block w-100" alt="img_3" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Dry Fruit Ice Cream promises a delightful treat that celebrates the natural flavors of premium dry fruits in every spoonful.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="display: flex;">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/dryfruit_icecream_4.jpg" class="d-block w-100" alt="img_4" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's Dry Fruit Ice Cream promises a delightful treat that celebrates the natural flavors of premium dry fruits in every spoonful.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/dryfruit_icecream_5.webp" class="d-block w-100" alt="img_5" style="height: 250px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">Sumit's commitment to quality means each batch is made with care to maintain consistency and freshness.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/dryfruit_icecream_6.jpg" class="d-block w-100" alt="img_6" style="height: 250px; width: 50px;" />
              <div class="card-body">
                <p class="card-text" style="font-family: 'Baskervville';">The ice cream is meticulously churned to distribute the dry fruits evenly throughout every serving.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-family: 'Baskervville';">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}